

* {
    margin: 0;
    padding: 0;
}

#home {
    color: #cccccc;
    margin-top: 50px;
}





.home-1-1>h1 {
    font-weight: 100;
    letter-spacing: 10px;
    font-size: 140px;
}

.home-2 {
    text-align: end;
    border-bottom: 3px solid #000000;
    /* height: 400px; */
    /* overflow: hidden; */
    
}

.home-2>img {
    margin-top: -400px;
    margin-bottom: -4px;
    border-top-left-radius: 50px;
    height: 30%;
    width: 40%;
}
.home-img{
    width: auto;
}
.skills-card{
    width: auto;
}
.skills-card-img{
    display: inline;
}