* {

    margin: 0;
    padding: 0;
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body{
    height: 5000px;
}
a:hover,
a:focus {
  /* background-color: #fff; */
  color: #333;
}
a{
    
    transition: all 0.5s ease-out;
    text-decoration: none;
    text-decoration-color: #000000;
    /* opacity: 50%; */
}
.clrblack50{
    color: #ffffff;
    /* opacity: 50%; */
}
#nav-menu {
    
    padding: 5px 0px 5px 0px;
    width: 100%;
    /* background-color: #cccccc; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    
    




    margin-top: -50px;
    /* background:; */
}

.nav-menu1-1> h1{
    display: inline;
    
    /* background-color: #000000; */
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    
    /* padding: 0px 5px 0px 5px; */
    font-weight: 900;
    /* font-size: 25px; */
}
.nav-menu-1 h1:nth-child(1)>span{
    font-weight: 900;
    font-size: 30px;
    
    font-family: "Lucida Console", "Courier New", monospace;
}
.nav-menu1-1{
    height: 50%;
    /* border: 1px solid black; */
    color: #cccccc;
    padding: 10px 20px 10px 20px;
    /* font-variant: small-caps; */
    display:inline-block;
    border-radius: 50px;
}






.nav-menu-2{
    padding: 5px;
    /* border: 1px solid #000000; */
    background-color: #cccccc;
    /* opacity: 100%; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}
.nav-menu-2 > button{
    border: none;
    color: #ffffff;
    font-variant: small-caps;
    /* opacity: 50%; */
    background-color: #cccccc;
    font-size: 20px;
    cursor: pointer;
    font-size: 16px;
}
.nav-menu-3>button {
    border: none;
    color: #ffffff;
    font-variant: small-caps;
    /* opacity: 50%; */
    background-color: #cccccc;
    font-size: 20px;
    cursor: pointer;
    /* border: 1px solid #000000; */
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    transition: all 0.5s ease-out;
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}
.nav-menu-3{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-menu-3>button:hover{
  /* background-color: #fff; */
  color: #333;
}


.home-img{
    width: auto;
}