.project{
    /* border: 1px solid #111; */
    display: flex;
    /* height: 400px; */
    width: 80%;
    margin: auto;
    /* padding: 40px 0px; */
    margin-top: 50px;
    /* background-color: #eee; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.project>div{
    width: 50%;
    /* background-color: #eee; */
    /* overflow: hidden; */
}
.project>div:hover{
    overflow: hidden;
}
.project>div img{
    max-width: 100%;
    /* max-height: 100%; */
}
.project>div img:hover{
    overflow: hidden;
    transform: scale(1.1);
    transition: 2s;
    /* overflow:auto; */
}
.phead{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    font-variant: small-caps;
    color: #422323;
    
    /* text-decoration:; */
}
.phead h1{
    text-shadow: #1111;
    /* text-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

.home-img{
    width: auto;
}
.skills-card{
    width: auto;
}
.skills-card-img{
    display: inline;
}