.skills {
    display: flex;
    margin-top: 100px;
    padding-top: 50px;
    /* padding-bottom: 100px; */
    /* justify-content: center; */
}

.skills-1 {
    width: 50%;
    /* border-left: 3px solid black; */
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.skills-1>h1 {
    font-size: 50px;
    opacity: 50%;
    /* background-color: #eee; */

}

.skills-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.skills-2>div {
    display: flex;
    align-items: center;

}

.skills-2>div>div:nth-child(1) {
    background-color: #eee;
    /* border-left: 1px solid black; */
    /* border-top: 2px solid black; */
    width: 300px;
    height: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 50%;

}

.skills-2>div>div:nth-child(2) {
    text-align: end;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
}

.rotate0 {
    margin-left: 200px;
}

.rotate15 {
    margin-left: 100px;
    /* rotate: 15deg; */
}

.rotate-15 {
    /* rotate: -15deg; */
    margin-left: 100px;
}

.rotate30 {
    /* rotate: 30deg; */
}

.rotate-30 {
    /* rotate: -30deg; */
}

.px10 {
    margin-left: 40px;
    /* border: 1px solid black; */
    width: 350px;
    height: 25px;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.px10-1 {
    width: 80%;
    height: 100%;
    background-color: rgb(189, 186, 186);
}

.px10 i {
    color: rgb(115, 114, 114);
}
.c-2{
    display: flex;
    align-items: center;
}